html,
body {
  background-color: #3a3456;
  height: 100%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: #fff;
}

.logo {
  margin-left: 40px;
}

.navigation {
  justify-self: center;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  display: inline;
  margin-right: 20px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.menu_buttons{
  display: flex;
  gap: 10px;
}

.menu_button_1,
.menu_button_2,
.main_button {
  margin-left: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu_button_1 {
  background-color: #3a3456;
  border: solid 1px;
  color: #fff;
}

.menu_button_2,
.main_button {
  background: linear-gradient(45deg, #7e57c2, #b39ddb);
  color: #3e3d56;
}


.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.main {
background-image: url(/assets/images/Mask\ group.png);
background-repeat: no-repeat;
background-position: right;
background-size: contain;
margin-left: 20px;
}

.main_text-area {
  max-width: 600px;
}

.main_text-area h2 {
  font-size: 3em;
  color: #b39ddb;
}

.main_text-area p {
  font-size: 1.2em;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
}

.footer_sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  padding: 20px;
  border-radius: 50px;
}

.footer_section_1,
.footer_section_2,
.footer_section_3 {
  background-image: radial-gradient(circle, #3a3456, #211e2e);
  padding: 20px;
  color: #fff;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 10px 0;
    }

    .menu_buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .footer_sections {
        grid-template-columns: 1fr;
    }